@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* *{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;} */

header{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../../../public/Utilities/blackback.jpeg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}
.container{
    max-width: 800px;
    min-height: 500px;
    display: flex;
    padding: 0.5rem 1.5rem;
    outline: none;
    background-image: url(../../../public/Utilities/blackback.jpeg);
    border-radius: 20px;
    
}

.left{
    flex-basis: 50%;
}
.right{
    flex-basis: 50%;
    margin-left: 2rem;
}
form{
    padding: 1rem;
}
form input[type = "text"]
{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
}
form input[type = "email"]
{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
}
form input[type = "number"]
{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin-top: 10px;
   
}
#zip{
    width: 100%;
    padding: 0.5rem 0.7rem ;
    margin-top: 0px !important;
    
}
.xtra{
    display: flex;
    margin-top: 0.5rem;
}
.xtra select {
    padding: 0.5rem 0.7rem;
}
.xtra input[type = "number"]
{
    padding: 0.5rem 0.7rem;
    margin-left: 3px;
}
.xtra input[type = "password"]
{
    padding: 0.5rem 0.7rem;
    margin-left: 5px;
}

form input[type= "submit"]
{
    width: 100%;
    padding: 0.7rem 1.5rem;
    background-color: rgb(87, 80, 80);
    margin-top: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
}

form input[type= "submit"]:hover{
    background-color: rgb(71, 66, 66);
    
}
form input[type= "submit"]:active{
    background-color: rgb(37, 36, 36);
}
form input[type= "button"]
{
    width: 100%;
    padding: 0.7rem 1.5rem;
    background-color: rgb(87, 80, 80);
    margin-top: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
}
form input[type = "button"]:hover{
    background-color: rgb(71, 66, 66);
}
form input[type = "button"]:active{
    background-color: rgb(37, 36, 36);
}

.error{
    font-size: 0.8rem;
    color: red;
    text-align: center;
    vertical-align:center;
    margin-left: 10px;
}

@media only screen and (max-width: 770px)
{
    .container{
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
    .right{
        margin-left: 0px;
    }
}